@charset "UTF-8";
@font-face {
    font-family: 'robo';
    src: url(fontes/idroid.otf) format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: bisque;
}

header{
    background-image: linear-gradient(to bottom, #2EA463, #063D1E);
    margin: 0px;
    box-shadow: 5px 5px 15px black;
}
h1#Site{
    font-size: 3em;
    text-align: center;
    margin: 0px;
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

p#sub{
    text-align: center;
    color: white;
    padding-bottom: 30px;

}

nav{
    color: #62B687;
    text-align: justify;
    padding: 3px;
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover{
    background-color: #063D1E;
    border-radius: 10px;
    color: #2BA866;
}

main{
    background-color: white;
    width: 1000px;
    margin: auto;
}

h1{
    font-family: 'robo';
    color:#063D1E;
    font-size: 2em;
}
h2{
    color: #17422b;
    background-color: #62B687;
    font-family: 'robo';
}

